*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
header{
  background-color:#54bb00;
  height:46px;
}
.topnav{
  display:flex;
  justify-content:space-between;
  
  padding:10px;
  /*! background-color:whitesmoke; */
  background-color:#1b3c00;
  position: fixed;
  z-index: 1000;
  width: 100%;
}
.navi {
  margin-inline:300px;
}
.topnav li{
  padding:15px;
  border-radius:5px;
  display:inline;
  text-align:center;
}
.topnav li a{
  color:white;
  text-decoration:none;
  font-family:arial;
  font-size:20px;
}
.topnav .material-symbols-outlined{
  color:white;
  text-decoration:none;
  font-variation-settings:
    'FILL' 5,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  
}
.topnav .material-symbols-outlined:hover{
  color:greenyellow;
}
.topbanner{
  height:300px;
  background-color:rgba(26, 58, 0, 0.43);
}

/* edit services heading */
.hdservices{
    display: flex;
    color: #1e2b0e;
    justify-content:center;
    font-size:35px;
    margin-top:40px;
    margin-bottom:10px;
    /*! margin-top: ; */
}
.cls1{
    margin-top:25px;
    height:3px;
    width: 200px;
    background-color: green;
    opacity:0.5;
    margin-right:20px;
    
}
.cls3{
    margin-top:25px;
    height:3px;
    width: 200px;
    background-color: green;
    opacity:0.5;
    margin-left:20px
}

.image img{
  margin-top:10px;
  height:150px;
  width:100%;
  border:0px solid;
  border-radius:10px;
}

.card h3{
  font-size:22px;
}
.card h4{
  font-size:15px;
  font-weight:lighter;
}

.card input{
  background-color:#7a7a7a5c;
  height:30px;
  width:100px;
  border:none;
  padding-left:5px;
  border-radius:5px;
}
.home {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*! margin-top: ; */
}

.home .container {
  display: flex;
  flex-direction: row; 
  width: 90%; 
  height: 80%; 
  background-color:white;
  overflow-x: auto; 
  overflow-y: hidden; 
  width:1350px;
}
.home .container .scroll-wrapper{
  display: flex;
  align-items: center;
}

.home .container .card {
  width: 250px; 
  margin-left: 10px;
  margin-right: 10px;
  height: 360px; 
  background-color: #fff;
  text-align: center;
  box-shadow:0;
  display:flex;
  flex-direction:column;
  box-shadow:0 5px 15px rgba(0,0,0,0.2);
  gap:15px;
  font-family:Arial;
  border-radius:10px;
  
}
.icons .material-symbols-outlined{
  margin-left:15px;
}
.banner{
  padding:40px;
  height:220px;
  background-color:rgba(245, 245, 220, 1);

}
.material-symbols-outlined:hover{
  transform:scale(1.1);
  color:green;
  
}
.image img:hover{
  transform:scale(1.1)
}

.tree{
  height: max-content;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url(/Users/sesiriherath/Desktop/bgveg.png);
  background-size: cover;
}
table{
  padding:px;
  font-size:20px;
  font-family:arial;
  border:2px solid #d0cfcf;
  margin-left:150px;
  /*! margin-right:0px; */
  width:80%;
  position:relative;
  text-align: center;
  border-radius:10px;
  box-shadow:0 5px 15px rgba(0,0,0,0.2);
}
thead th{
  background-color:whitesmoke;
  border-bottom: 5px solid #ddd;
  padding-bottom:10px;
  padding-top:5px;
  
}
td{
  padding:10px
}
button{
  border:none;
  background-color:white;
}
.next{
  padding:10px;
  width:400px;
  margin-top:20px;
  margin-left:500px;
  margin-bottom:20px;
  background-color:lightgray;
  border-radius:5px;
  box-shadow:0 5px 15px rgba(0,0,0,0.2);
}
@media screen and (max-width: 500px) {
  header{
    height:0px;
  }
  .topnav{
    width:450px;
    background-color:#e3e3e3;
  }
  .topnav li{
    display:flex;
    justify-content:center;
    overflow:hidden;
    width:350px;
    margin-bottom:10px;
    margin-right:35px;
    background-color:#fff;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
  }
  .topnav li a {
    color:black;
  }
  
  .topbanner{
    height:337px;
    margin-bottom:100px;
}
  .hdservices{
    display: flex;
    color: #1e2b0e;
    justify-content:center;
    font-size:25px;
    margin-top:40px;
    margin-bottom:10px;
    /*! margin-top: ; */
}
  .navi {
  margin-inline:22px;
}
  .topnav .material-symbols-outlined{
  display: none;
}
.cls1{
    margin-top:15px;
    height:3px;
    width: 200px;
    background-color: green;
    opacity:0.5;
    margin-right:20px;
    
}
.cls3{
    margin-top:15px;
    height:3px;
    width: 200px;
    background-color: green;
    opacity:0.5;
    margin-left:20px
} 
  table {
    width: 100%;
    margin-left: 0;
    font-size: 16px;
  }
  thead {
    display:none;
  }
  tr {
    display: block;
    margin-bottom: 10px;
  }
  td {
    display: block;
    justify-content:center;
    position: relative;
  }

.home .container .card {
  width:250px; 
  margin-left:60px;
  margin-right: 10px;
  height: 360px; 
}
  .next{
  padding:10px;
  width:150px;
  margin-top:20px;
  margin-left:150px;
  margin-bottom:20px;
  background-color:#fffee9;
  border-radius:15px;
  box-shadow:0 5px 15px rgba(0,0,0,0.2);
}
}